
<h1 appTdirective class="center">{{title}}</h1>

<div><img src={{FrontPagePic}}> </div>
<p>Name: <input #box (keyup)="0"> </p>
<h2>Welcome {{box.value}}</h2>
<nav>
  <a routerLink="/nightlife">Nightlife</a>
  <a routerLink="/Day One">Day One</a>
  <a routerLink="/Day Two">Day Two </a>
  <a routerLink="/Day Three">Day Three</a>
  <a routerLink="/Day Four">Day Four</a>
  <a routerLink="/Day Five">Day Five</a>
  <a routerLink="/to do">To Do</a>

</nav>
<router-outlet></router-outlet>


<div>
<!--<app-ad-banner [ads]="ads"></app-ad-banner> -->
</div>