
<h1 appTdirective class="center">{{title}}</h1>

<nav>
  <a routerLink="/nightlife">Nightlife</a>
  <a routerLink="/Day One">Day One</a>
  <a routerLink="/Day Two">Day Two </a>
  <a routerLink="/Day Three">Day Three</a>
  <a routerLink="/Day Four">Day Four</a>
  <a routerLink="/Day Five">Day Five</a>
  <a routerLink="/to do">To Do</a>

</nav>
<router-outlet></router-outlet>

<h3>To do task</h3>

<ul class = "tbd"> 
  <li *ngFor="let task of tasks">
    <span class="badge">{{task.name}}</span> {{task.day}}, {{task.value}}
  </li>
</ul>



<div>
<!--<app-ad-banner [ads]="ads"></app-ad-banner> -->
</div>