
<h1 appTdirective class="center" [style.color]="'red'">{{title}}</h1>

<div><img src={{FrontPagePic}}> </div>
<form id="NyForm">
<p>Name: <input #box (keyup)="0" type="text"> </p>
<h2 class="welcome">Welcome {{box.value}}</h2>
<button type="reset" (click)="myResetFunction($event)">reset</button>
</form>
<p>The population of NY is <span [innerHTML]="pop"></span> </p>
<nav>
  <a routerLink="/nightlife">Nightlife</a>
  <a routerLink="/Day One">Day One</a>
  <a routerLink="/Day Two">Day Two </a>
  <a routerLink="/Day Three">Day Three</a>
  <a routerLink="/Day Four">Day Four</a>
  <a routerLink="/Day Five">Day Five</a>
  <a routerLink="/to do">To Do</a>

</nav>
<router-outlet></router-outlet>
{{1+1}}

<div>
<!--<app-ad-banner [ads]="ads"></app-ad-banner> -->
</div>